.nav-container {
    background-color: #038C65;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    border-radius: 5px;
    margin-top: 20px;
}