.p-card-list {
    font-size: 1.76rem;
    display: flex;
    flex: 0.9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    span {
      margin: 5px 2px;
      border: 2px solid green;
      text-align: center;
  
      width: 34px;
    }
  }