.player-hand {
    display: flex;
    margin: 0 5px;
    transform: translateY(100%);
    &:first-of-type, &:last-of-type {
        transform: translateY(0);
    }

    border-bottom: 20px solid rgb(181, 140, 7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    height: 102px;

    min-width: 10%;

    & .card-total {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        color: #fff;
        border: 1px solid #000;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}