.player {
    display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(209, 209, 209);
  color: black;
  margin: 10px;
  padding: 0 10px;
  border-radius: 5px;
  height: 200px;
  width: 200px;

  &:first-child {
    border-bottom-left-radius: 50px;
  }
  &:last-child {
    border-bottom-right-radius: 50px;
  }
}